* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(18, 141, 248);
    height: 100vh;
    width: 100vw;
}
main {
    height: 100%;
    width: 100%;
}
.container-bandeira {
    background-color:antiquewhite;
    height: 50vh;
    min-height: 274px;
    border-bottom: 5px solid black;
}
.wrap-bandeira {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    padding-top: 20px;
}
#timer {
    position: fixed;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
    font-size: 30px;
}
#img {
    width: 250px;
    margin-top: 4px;
}
.container-bandeira input {
    height: 30px;
}
.container-select {
    background-color: rgb(107, 107, 107);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    height: 70vh;
}
.container-select img {
    margin-block: 6px;
    width: 250px;
}

 @media (min-width: 825px) {
    .wrap-select {
        flex-wrap: wrap;
    }

}

@media (min-width: 1130px) {
    main{
        display: flex;
    }
    #timer {
        font-size: 80px;
        left: 35%;
        transform: translate(-25%, 0);
    }
    .container-bandeira{
        height: 100%;
        width: 70vw;
        border-bottom: none;
        border-right: 5px solid black;
    }
    .wrap-bandeira {
        margin: auto;
        margin-top: 30px;
        position: absolute;
        top: 35%;
        left: 35%;
        transform: translate(-35%, -35%)
    }

    #img {
        width: 460px;
    }
    #input {
        width: 300px;
        height: 45px;
        font-size: 40px;
    }
    .container-select {
        width: 30vw;
        height: 100vh;
    }
    .container-select img{
        display: flex;
    }

     
}